<app-content>
  <br><br>
    <form [formGroup]="form" (submit) = "onSubmit()">
      <div class="row">
        <label for="">ส่วนสูง</label>
        <input type="text" class="form-control"
        formControlName="HEIGHT" >
      </div>
      <br>
  
        <br>
        <div class="row">
            <label for="">น้ำหนัก</label>
            <input type="text" class="form-control" 
            formControlName="WEIGHT">
        </div>
        <br>
        
          <br>
          <div class="row">
              <button type="submit" class="btn btn-dark">คำนวณ</button>
          </div>
          <br>
       
    </form>
</app-content>